// 主黑色
$primary_black: #333333;
// 次黑色
$secondary_black: #121212;
// 主白色
$primary_white: #FFFFFF;
// 主灰色
$primary_grey: #666666;
// 次灰色
$secondary_grey: #999999;
// 主蓝色
$primary_blue: #4199FF;
// 次蓝色
$secondary_blue: #AFD4FF;
// 主橘色
$primary_orange: #FD8000;
// 次橘色
$secondary_orange: #F59D61;
// 主红色
$primary_red: #DD5045;
// 暗红色
$dark_red: #C22A33;
$primary_green: #46AA37;

// 背景蓝1级
$background_blue_level1: #4199FF;
// 背景蓝2级
$background_blue_level2: #ECF2F2;
// 背景蓝3级
$background_blue_level3: #DBE6EE;
// 背景黄
$background_yellow: #F8F1A5;
// 背景灰1级
$background_grey_level1: #F1F1F1;
// 背景灰2级
$background_grey_level2: #F5F5F5;
// 背景灰3级
$background_grey_level3: #F9F9F9;
// 背景白
$background_white: #FFFFFF;

// 灰色3级
$grey_level3: #CCCCCC;
// 灰色4级
$grey_level4: #EEEEEE;
// 灰色5级
$grey_level5: #D8D8D8;

// 激活背景蓝
$active_backgroud_blue: #DAE7EF;
